Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCreds:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
      AWS::CloudFormation::Init:
        configSets:
          default:
            - config
        config:
          commands:
            01-get-secrets:
              command: !Sub |
                aws secretsmanager get-secret-value --secret-id ExampleLaravelEnv --region eu-west-2 | 
                jq -r .SecretString | 
                jq -r 'to_entries|map("export \(.key)=\(.value|tostring)")|.[]' > /opt/elasticbeanstalk/hooks/appdeploy/enact/99myappenv.sh
              test: test ! -f /opt/elasticbeanstalk/hooks/appdeploy/enact/99myappenv.sh
              ignoreErrors: true
